// Colors
$color-light-grey: #dcdcdc;
$color-grey: #707070;
$color-black: #333;
$color-red: #FA7751;

// Font size
$font-size-m: 1rem; // 1rem is 16px (browser's default)
$font-size-s: 0.875rem;
$font-size-xs: 0.8125rem;

// Font family
$font-family-open-sans: "Open Sans", sans-serif !default;
